.App {
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem;
  background-color: #4a86ff;
  display: grid;
  position: fixed;
  top: 0;
  width: 100%;
}
header h2 {
  height: inherit;
  grid-column: 2;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
.upload-file {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4caf50c4;
  border: none;
  color: #fff;
  font-weight: 400;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}
button:hover {
  background-color: #017106c4;
}
main {
  margin-top: 4rem;
}

figure {
  display: inline-block;
  margin: 1rem 0.5rem;
}
